.mainBlock {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imgBlock {
    flex: 50%;
    text-align: center;
    margin-left: 50px;
}

.fieldsBlock {
    flex: 50%;
    margin-left: 70px;
}

input {
    height: 45px;
    width: 350px;
    color: #5FCEAD;
    font-size: 20px;
    border: 3px solid #5FCEAD;
    border-radius: 10px;
    padding: 5px;
    background-color: #EEFFF7;
    box-shadow: rgb(38, 57, 77) 0px 0px 3px -0px;
}

    input:focus {
        color: #21A77F;
        outline: none;
        border: 2px solid #21A77F;
    }

.btn {
    background-color: #21A77F;
    color: #EEFFF7;
    border-radius: 10px;
    margin-top: 30px;
    height: 45px;
    box-shadow: rgb(38, 57, 77) 0px 0px 7px -0px;
    width: 200px;
    font-size: 23px;
}

    .btn:hover, .btn:active, .btn:target {
        background-image: linear-gradient(180deg, #21A77F 0%, #5FCEAD 70%);
        box-shadow: rgb(38, 57, 77) 0px 0px 7px -0px;
        border-color: #21A77F;
        color: #EEFFF7;
    }

.btnBlock {
    text-align: center;
    margin-right: 90px;
}
