@page "/aviary_list"
@using ZooCoursework.DataBase
@inject ZooCourseworkContext ZooContext
@inject NavigationManager Navigation

<style>
    .mainblock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mainLabel {
        text-align: center;
        margin-right: 90px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 500;
        color: #21A77F;
        text-decoration: underline;
        font-family: Andale Mono, monospace;
    }

    .titleText {
        font-size: 25px;
        font-weight: 500;
        color: #21A77F;
        margin-left: 7px;
        text-align: center;
    }
</style>

<div style="position: absolute; left: 190px; width: 1000px;display: flex; flex-direction: row; justify-content: flex-start;">
    <MudSelect T="string" Label="Вид животных" Variant="Variant.Outlined" ValueChanged="GetKind" Value="currentKind" Style="font-size: 16px; border: 3px solid #21A77F; color: #21A77F; border-radius: 10px; ">
        @foreach (var kind in kinds)
        {
            <MudSelectItem Value="@(kind.Title)" />
        }
    </MudSelect>
</div>

<div style="position:absolute">
    <MudGrid Spacing="@spacing" Justify="Justify.FlexStart"
             Style="position: absolute;
        left: 190px;
        top: 100px;
        width: 1000px;
        box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;
        border-radius: 30px;
        background-color: #EEFFF7;
    }">
        @foreach (var aviary in aviaries)
        {
            <MudItem>
                <MudPaper Height="290px" Width="210px" Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: #A68EFE; box-shadow: none; border-radius: 20px;">
                    <a href="/" @onclick="() => GetAviary(aviary)">
                        <MudPaper Height="290px" Width="210px" Style="border: 3px solid #21A77F; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px; border-radius: 20px;">
                            <img src="/images/Лого.png" style="height:200px; width:100%; background-color: #EEFFF7; border-radius: 20px 20px 0 0;" />
                            <MudText Class="titleText">@aviary.Name</MudText>
                        </MudPaper>
                    </a>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    private int spacing { get; set; } = 5;
    private List<Aviary> aviaries = new List<Aviary>();

    private List<AnimalKind> kinds = new List<AnimalKind>();
    private static readonly AnimalKind _allKinds = new AnimalKind() { Title = "Все" };
    private string currentKind = "Все";

    protected override async Task OnInitializedAsync()
    {
        kinds = ZooContext.AnimalKinds.ToList();
        kinds.Add(_allKinds);
        aviaries = ZooContext.Aviaries.ToList();
    }

    private void GetKind(string selected)
    {
        currentKind = selected;

        if (currentKind == "Все")
        {
            aviaries = ZooContext.Aviaries.ToList();
            return;
        }

        var kindId = ZooContext.AnimalKinds.FirstOrDefault(x => x.Title == currentKind).Id;
        aviaries = ZooContext.Aviaries.Where(x => x.KindId == kindId).ToList();
    }

    private void GetAviary(Aviary aviary)
    {
        //Navigation.NavigateTo($"/animal_info/{animal.Id}");
    }
}
