@page "/materials_list"
@using ZooCoursework.DataBase
@inject ZooCourseworkContext ZooContext
@inject NavigationManager Navigation

<style>
    .mainLabel {
        text-align: center;
        margin-right: 90px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 500;
        color: #21A77F;
        text-decoration: underline;
        font-family: Andale Mono, monospace;
    }

    .labelText {
        font-size: 25px;
        font-weight: 500;
        color: #21A77F;
        margin-left: 7px;
        text-align: center;
    }

    .imgBlock {
        flex: 50%;
        text-align: center;
        margin-left: 100px;
        width: 400px;
        height: 400px;
    }
</style>

<div style="position:absolute">
    <MudSelect Label="Вид материала" Variant="Variant.Outlined" @bind-Value="currentType" Style="border: 3px solid #21A77F; color: #21A77F; border-radius: 10px; left: 170px;">
        @foreach (var type in types)
        {
            <MudSelectItem Value="@(type.Name)" />
        }
    </MudSelect>
</div>

<div style="position:absolute">
    <MudGrid Spacing="@spacing" Justify="Justify.FlexStart"
                Style="position: absolute;
        left: 190px;
        top: 100px;
        width: 1000px;
        box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;
        background-color: #EEFFF7;
    }">
        @foreach (var material in materials)
        {
            <MudItem>
                <MudPaper Height="290px" Width="210px" Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: #A68EFE; box-shadow: none;">
                    <a href="/" @onclick="() => GetMaterial(material)">
                        <MudPaper Height="290px" Width="210px" Style="border: 3px solid #21A77F; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;">
                            <img src="/images/Лого.png" style="height:200px; width:100%; background-color: #EEFFF7; " />
                            <MudText Class="labelText">@material.Name</MudText>
                        </MudPaper>
                    </a>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    public int spacing { get; set; } = 5;
    private List<CareMaterial> materials = new List<CareMaterial>();
    List<MaterialType> types = new List<MaterialType>();
    private static readonly MaterialType _allTypes = new MaterialType() { Name = "Все" };
    string currentType = "";

    protected override async Task OnInitializedAsync()
    {
        types = ZooContext.MaterialTypes.ToList();
        types.Add(_allTypes);
        materials = ZooContext.CareMaterials.ToList();
    }

    public void GetMaterial(CareMaterial material)
    {
        //Navigation.NavigateTo($"/animal_info/{animal.Id}");
    }
}
