<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink Class="nav-link" Href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Страница 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink Class="nav-link" Href="/billing" Disabled="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Страница 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavGroup Title="Settings" Expanded="true">
                <MudNavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Страница 3
                </MudNavLink>
                <MudNavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Страница 4
                </MudNavLink>
            </MudNavGroup>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
